
.field{
	margin-top:2em;
}

.large-padding{
	padding: 8px 5px;
}
.no-margin{
	margin:0px;
}
.form-control{
	border:none;
	border-bottom: 1px solid;
	outline: none;
	width: 100%;
	display: block;
	padding: 10px 0px;
	font-size: 1.2em;
}
